.tippy-tooltip.pivotal-glossary-theme {
    font-family: "Proxima Nova", sans-serif;
    text-align: left;
}

.tippy-tooltip.pivotal-glossary-theme .definition {
}

.tippy-tooltip.pivotal-glossary-theme .headword {
    font-weight: bold;
    color: #008774;
    font-size: 1.2em;
}

.tippy-tooltip.pivotal-glossary-theme .expansion {
    font-size: .7em;
}

.tippy-tooltip.pivotal-glossary-theme b {
    color: #008774;
}

.tippy-tooltip.pivotal-glossary-theme hr {
    border-color: #008774;
}
